<footer>
	<div class="footer-left">
		<div class="footer-logo"></div>
	</div>
	<div class="footer-location">
		<div class="footer-location-top">
			<p>Address: <br>Växjö</p>
			<p>Universitetsplatsen 1,</p>
			<p>352 52</p>
		</div>
		<div class="footer-location-bottom">
			<p class="phone-number">Phone : <br>0772288000</p>
		</div>

	</div>
	<div class="footer-socials">
		<a href="http://linkedin.com" class="linkedin"></a>
		<a href="http://facebook.com" class="facebook"></a>
		<a href="http://twitter.com" class="twitter"></a>
		<a href="http://discord.com" class="discord"></a>
	</div>

</footer>