<main>
    <div class="container">
        <div class="left-side">
            <h1>Xhafer Muja</h1>

            <p class="bio-text">
                Hello I'm Xhafer Muja , an enthusiastic Full Stack Developer . I'm a student from University "Ukshin Hoti"-Prizren.
                I enjoy working on web projects , also like developing desktop aplications .
                I'm an exchange student for 1 Semester in Växjö/Sweden . In Linneaus University , It's a very big opportunity for me .
            </p>
            <p class="animated-text">
                Date of Birth : 16.03.1999 (23 Years Old)
            </p>
            <p class="animated-text">
                Degree: Bachelor - Undergraduate
            </p>

            <p class="animated-text">
                Faculty : Computer Science
            </p>
            <p class="animated-text">
                Birthplace: Prizren
            </p>
            <p class="animated-text">
                From : Kosovo
            </p>
            <p class="animated-text">
                Other Hobby's : Running, Football, Voleyball ...
            </p>

        </div>

        <div class="right-side">
            <div class="right-side-img"></div>
        </div>
    </div>

    <div class="tech-cards">
        <div class="card">
            <div class="top-row">
                <h1>Front End</h1>
                <small>Experience</small>
            </div>

            <div class="div-row">
                <div class="card-img"></div>
                <small>HTML ,3+ years</small>
            </div>
            <div class="div-row">
                <div class="card-img"></div>
                <small>CSS ,3+ years</small>
            </div>
            <div class="div-row">
                <div class="card-img"></div>
                <small>Javascript ,3+ years</small>
            </div>
            <div class="div-row">
                <div class="card-img"></div>
                <small>React ,1+ years</small>
            </div>
        </div>

        <div class="card">
            <div class="top-row">
                <h1>Back End</h1>
                <small>Experience</small>
            </div>

            <div class="div-row">
                <div  class="card-img"></div>
                <small>Java ,3+ years</small>
            </div>
            <div class="div-row">
                <div  class="card-img"></div>
                <small>PHP ,1+ years</small>
            </div>
            <div class="div-row">
                <div  class="card-img"></div>
                <small>Python ,1+ years</small>
            </div>
            <div class="div-row">
                <div  class="card-img"></div>
                <small>Linux ,2+ years</small>
            </div>
        </div>

        <div class="card">
            <div class="top-row">
                <h1>UI/UX</h1>
                <small>Experience</small>
            </div>

            <div class="div-row">
                <div  class="card-img"></div>
                <small>Adobe-Photoshop ,1+ years</small>
            </div>
            <div class="div-row">
                <div  class="card-img"></div>
                <small>Figma ,2+ years</small>
            </div>
            <div class="div-row">
                <div  class="card-img"></div>
                <small>Axure-RP ,2+ years</small>
            </div>
            <div class="div-row">
                <div  class="card-img"></div>
                <small>Adobe-XD ,1+ years</small>
            </div>
        </div>
    </div>

</main>