main{
    padding: 50px;
}
.container{
    display: flex;
    gap: 10rem;
}

.left-side{
    width: 50%;
}

.animated-text{
    margin-top: 30px;
    font-size: 20px;
}
.bio-text{
    font-size: 27px;
    margin-bottom: 100px;
}
.left-side>h1{
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.right-side-img{
    background: url("../../img/profile.jpg");
    height: 700px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}


.tech-cards{
    display: flex;

}
.card{
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(rgb(255, 0, 0), #00f6ff) 30;
    border-radius: 30px;
    padding: 50px;
    margin: 50px;
    width: 400px;
    height: 400px;
}
.top-row{
    margin-bottom: 30px;
}

.card-img{
    background: url("../../img/icons8-checkmark-40.png");
    height: 40px;
    width: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}
.div-row{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    
}
.div-row>small{
    font-size: 25px;
}