<main>

	<div class="main-header">
		<div class="main-header-img"></div>
	</div>

	<div class="main-intro">
		<div class="main-intro-hd">
			<h2>We offer you the best Solutions , in developing Web Applications.</h2>
		</div>
		<div class="bottom">
			<div class="bottom-left">
				<h2>Best Solutions</h2>
				<p class="main-intro-txt">
					Quality over Quantity: Invest in the Best, Not Just the Cheapest. At B Solutions, we believe that quality should always come first. While it may be tempting to choose the cheapest option on the market, this often leads to lower quality products and a disappointing experience. Instead, we offer products that may not have the lowest price tag, but are made with care and attention to detail to ensure they are the best possible option for our customers. We believe that investing in quality pays off in the long run and provides a much better overall value. Choose B Solutions for a truly exceptional experience.                                        </p>
			</div>
			<div class="bottom-img"></div>
		</div>
	</div>

	<div class="main-services">
		<div class="service-card">
			<h3>Basic Pack</h3>
			<div class="row">
				<div  class="card-img"></div>
				<p>Availability at any time and in any place;</p>
			</div>
			<div class="row">
				<div  class="card-img"></div>
				<p>User-friendliness;</p>
			</div>		
			<div class="row">
				<div  class="card-img"></div>
				<p>Ease of use and intuitiveness;</p>
			</div>	
			<div class="row">
				<div  class="card-img"></div>
				<p>Simple and cost-effective</p>
			</div>		
			<div class="service-card-icons-first">
				<div class="service-card-icon-html"></div>
				<div class="service-card-icon-css"></div>
				<div class="service-card-icon-js"></div>
			</div>
			<div class="service-card-icons-second"></div>
			<button class="service-card-btn" (click)="btnClick()">Select</button>
		</div>
		<div class="service-card">
			<h3>Advanced Pack</h3>
			<div class="row">
				<div  class="card-img"></div>
				<p>Availability at any time and in any place;</p>
			</div>
			<div class="row">
				<div  class="card-img"></div>
				<p>User-friendliness;</p>
			</div>		
			<div class="row">
				<div  class="card-img"></div>
				<p>Ease of use and intuitiveness;</p>
			</div>	
			<div class="row">
				<div  class="card-img"></div>
				<p>A way you can upgrade your business</p>
			</div>		

				<div class="service-card-icons-first">
					<div class="service-card-icon-html"></div>
					<div class="service-card-icon-css"></div>
					<div class="service-card-icon-js"></div>
				</div>
				<div class="service-card-icons-second">
					<div class="service-card-icon-php"></div>
					<div class="service-card-icon-mysql"></div>
				</div>
			<button class="service-card-btn" (click)="btnClick()">Select</button>
		</div>
		<div class="service-card">
			<h3>Professional Pack</h3>
			<div class="row">
				<div  class="card-img"></div>
				<p>Availability at any time and in any place;</p>
			</div>
			<div class="row">
				<div  class="card-img"></div>
				<p>User-friendliness;</p>
			</div>		
			<div class="row">
				<div  class="card-img"></div>
				<p>Ease of use and intuitiveness;</p>
			</div>	
			<div class="row">
				<div  class="card-img"></div>
				<p>Fast and more optional for your business</p>
			</div>			

				<div class="service-card-icons-first">
					<div class="service-card-icon-html"></div>
					<div class="service-card-icon-css"></div>
					<div class="service-card-icon-js"></div>
				</div>
				<div class="service-card-icons-second">
					<div class="service-card-icon-angular"></div>
					<div class="service-card-icon-firebase"></div>
				</div>
			<button class="service-card-btn" (click)="btnClick()">Select</button>
		</div>

	</div>

</main>